:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 24px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #5E3B76; /* Fioletowy (akcenty, CTA) */
  --secondary: #9E72B0; /* Lawendowy (hover, subtelne detale) */
  --background: #F6F5FA; /* Jasne tło */
  --card-bg: #FFFFFF; /* Tło kart */
  --text-primary: #2D2D2D; /* Główne napisy */
  --text-secondary: #7C7C7C; /* Dodatkowe info, placeholdery */
  --success: #4CAF50; /* Zielony (checkout, sukces) */
  --danger: #E63946; /* Czerwony (błędy, usuwanie z koszyka) */

  --text-hover: #FFD166;

  --gradient-primary: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
  --gradient-secondary: linear-gradient(90deg, #ac94b1 0%, #bd71a0 100%);

  --main-background: linear-gradient(90deg, #532572 0%, #e88fb7 100%);

  --button-bg: var(--primary);
  --button-hover: var(--secondary);
  --checkout-bg: var(--background);
  --checkout-border: var(--secondary);
  --footer-bg: var(--primary);
  --footer-text: white;

}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100%;  
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: var(--button-bg);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background: var(--button-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  width: 100%;
  min-height: 100vh;
}

