section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}



.photo img {
    width: 500px;
    height: 300px
}


.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
}


@media (max-width: 880px) {

    .wrapper {
        flex-direction: column;
    }

    section {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
  
  }
  
  @media (max-width: 500px) {

    .photo img {
        width: 400px;
        height: 200px;
    }

    main {
        margin: 1rem 0;
    }
}
