
header {
    color: black;
    background: linear-gradient(
        90deg,
        #22c1c3 0%,
        #fdbb2d 100%
      );
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem;
    padding: 1rem 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}


a {
    color: black;
    text-decoration: inherit;
    transition: color 0.4s;
}

a:hover {
    color: white;
}

.shopping {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.cart {
    display: flex;
    align-items: center;
    gap: .2rem;
}