.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    background: linear-gradient(
        90deg,
        #22c1c3 0%,
        #fdbb2d 100%
      );
}